@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 15px;
    font-style: 400;
}

h2 {
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

.cta {
    text-align: center;
}