@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 30px;
}